<div class="container">
  <div class="hero row">
    <div class="text-center mt-5 mb-4">
      <img
        src="../../../assets/git-octo.png"
        alt="github search octo"
        class="img img-fluid w-25"
      />
    </div>
    <hr />

    <div class="hero-content text-center">
      <h1 class="fw-bolder text-white">Welcome to Git Find.</h1>
      <p class="fs-3 mb-5">
        You can search for github users/orgs profiles and their repositories.
      </p>
      <button class="btn btn-outline-info btn-xl" routerLink="/search">
        Try it!
      </button>
    </div>
    
    <app-footer></app-footer>
  </div>
</div>
